<div class="mt-4">
    <h3>Đăng khóa học</h3>

    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tảc</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class=" mb-3">
            <label class="form-label" for="level">Trình độ</label>
            <select class="custom-select form-control" id="level" name="level">
                <option selected>-- Lựa chọn trình độ --</option>
                <option value="Cơ bản">Cơ bản</option>
                <option value="Trung bình">Trung bình</option>
                <option value="Nâng cao">Nâng cao</option>    
            </select>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>