<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label fw-bold">Keywords</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keywords">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>